
@{
    ViewBag.Title = ViewBag.username;
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="userImg">
            <img src="~/Uploads/@ViewBag.usernameimg" />
        </p>
        <h2>@ViewBag.viewingFullName (@ViewBag.username)</h2>

        @if (ViewBag.usertype == "guest")
        {
            <div class="friends">
                @if (ViewBag.notfriends == "pending")
                {
                    <div class="areFriendDiv alert alert-warning">
                        <p>Pending friend request</p>
                    </div>
                }
                else if (ViewBag.notfriends == "true")
                {
                    <div class="areFriendDiv alert alert-info">
                        <a href="#" class="addFriend">Add Friend</a>
                    </div>
                }
                else
                {
                    <div class="areFriendDiv alert alert-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Friends
                    </div>
                }
            </div>
        }

        <div class="friends @User.Identity.Name alert alert-success">
            <span>@ViewBag.fCount</span> Friend(s)
        </div>
    </div>

    <div class="col-xs-12 col-md-6 wall">

        @if (ViewBag.userType == "owner")
        {
            <h3>Say Something</h3>

            if (ViewBag.wallMessage == "")
            {
                <textarea id="say@(ViewBag.userId)" placeholder="Say Something..."></textarea>
            }
            else
            {
                <textarea id="say@(ViewBag.userId)" placeholder="Say Something...">@ViewBag.wallMessage</textarea>
            }

            <a href="#" class="ta btn btn-success" id="sendsay" data-id="@ViewBag.userId">Say</a>
            <img class="hide" src="~/Images/ajax-loaderblack.gif" />
        }

        @if (ViewBag.userType == "guest")
        {
            if (ViewBag.notfriends == null)
            {
                <div class="sendmsgparent">
                    <div class="msgtextarea">
                        <textarea id="msgarea"></textarea>
                    </div>
                    <a href="#" class="ta btn btn-success" id="sendmsg">Send Message</a>
                    <img class="hide" src="~/Images/ajax-loaderblack.gif" />
                    <div class="sendmsgnotfi alert alert-success hide">Message Sent.</div>
                </div>
            }
        }
    </div>
</div>

@if (ViewBag.userType == "guest")
{
<div class="row friendwallrow">
    @if (Enumerable.Count(ViewBag.walls) > 0)
    {
        <h3>What you friends are saying</h3>
        foreach (var item in ViewBag.walls)
        {
            if (item.Message != "")
            {
                <div class="friendwall">
                    <img src="~/Uploads/@(item.Id).jpg" />
                    @item.Message<span>@item.DateEdited</span>
                </div>
            }
        }
    }
    else
    {
        <h3>There are no friend walls</h3>
    }
</div>
}



<div class="chat @User.Identity.Name">
    <ul></ul>
</div>

@section Scripts{

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        $(document).ready(function () {

            /*Live Search*/
            $("input#searchText").on("keyup", function () {

                var searchVal = $("input#searchText").val();
                $("ul#liveSearchUl").empty();

                if (searchVal == "" || searchVal == " ")
                    return false;

                var url = "Profile/LiveSearch";

                $.post(url, { searchVal: searchVal }, function (data) {
                    if (data.length > 0) {
                        $("ul#liveSearchUl").append("<li class='close'>x</li>");
                    }

                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $("ul#liveSearchUl").append("<li class='liveSearchLi'><a href='/" + obj.Username + "'><img src='Uploads/" + obj.UserId + ".jpg'/>" + " " + obj.FirstName + " " + obj.LastName + "</a></li>");
                    }
                });
            });

            $("body").on("click", "ul#liveSearchUl li.close", function () {
                //e.preventDefault();

                $("ul#liveSearchUl").empty();
                $("input#searchText").val("");
            });

            /*
             * Hub
             * */

            //Setup hub connection
            var hub = $.connection.echo;

            //This is the beginning of client functions

            hub.client.test = function (msg) {
                console.log(msg);
            }

             /* frnotify */
            hub.client.frnotify = function (f, count) {
                $("span.frnotif." + f + "> span").text(count);
                $("span.frnotif." + f).addClass("red");
                //I noticed that this log below shows only on the friend who was notified, which is to think about
                //console.log(f + " " + count);
            }

            /*frcount function - After accepting a reuest*/
            hub.client.frcount = function(username, count) {
                if (count > 0) {
                    $("span.frnotif." + username + "> span").text(count);
                    console.log("frcount worked!");
                } else {
                    $("span.frnotif." + username + "> span").text("");
                    $("span.frnotif." + username).removeClass("red");
                    //console.log("the else condition worked");
                }
            }

            /* Get friend(s) count*/
            hub.client.fCount = function (u1, u2, count1, count2) {
                if (count1 > 0) {
                    $("div.friends." + u1 + "> span").text(count1);
                } else {
                    $("div.friends." + u1 + "> span").text("0");
                }

                if (count2 > 0) {
                    $("div.friends." + u2 + "> span").text(count2);
                } else {
                    $("div.friends." + u2 + "> span").text("0");
                }
            }

            hub.client.msgCount = function(username, count) {
                if (count > 0) {
                    $("span.msgnotif." + username + "> span").text(count);
                    $("span.msgnotif." + username).addClass("red");
                } else {
                    $("span.msgnotif." + username + "> span").text("");
                    $("span.msgnotif." + username).removeClass("red");
                    //console.log("the else condition worked");
                }
            }

            hub.client.getonlinefriends = function (user, data) {
                var result = JSON.parse(data);

                for (var i = 0; i < result.length; i++) {
                    var obj = result[i];

                    $(".chat." + user + "> ul").append('<li class="cf' + obj.id + '" data-id="' + obj.id + '"><img src="uploads/' + obj.id + '.jpg" /> ' + obj.friend + '</li>');

                    var chatbox = $("body > .chatbox").clone();

                    chatbox.attr("data-id", obj.id);
                    chatbox.attr("id", "cb" + obj.id);
                    chatbox.addClass("hidden");

                    chatbox.find("a.sendchat").attr("data-friend", obj.friend);
                    chatbox.find("a.sendchat").attr("data-id", obj.id);
                    chatbox.find("div.chatboxtext").attr("id", "cbtext" + obj.id);

                    $("#chb" + user).append(chatbox);
                    $("#chb" + user + " #cb" + obj.id + " h4 > span").html('<img src="uploads/' + obj.id + '.jpg" />');
                }
            }

            hub.client.updatechat = function (user, data) {
                var result = JSON.parse(data);

                $(".chat." + user + "> ul").empty();

                for (var i = 0; i < result.length; i++) {
                    var obj = result[i];

                    $(".chat." + user + "> ul").append('<li class="cf' + obj.id + '" data-id="' + obj.id + '"><img src="uploads/' + obj.id + '.jpg" /> ' + obj.friend + '</li>');

                    if (!($("chatboxholder #cb" + obj.id)).length) {
                        var chatbox = $("body > .chatbox").clone();

                        chatbox.attr("data-id", obj.id);
                        chatbox.attr("id", "cb" + obj.id);
                        chatbox.addClass("hidden");

                        chatbox.find("a.sendchat").attr("data-friend", obj.friend);
                        chatbox.find("a.sendchat").attr("data-id", obj.id);
                        chatbox.find("div.chatboxtext").attr("id", "cbtext" + obj.id);

                        $("#chb" + user).append(chatbox);
                        $("#chb" + user + " #cb" + obj.id + " h4 > span").html('<img src="uploads/' + obj.id + '.jpg" />');
                    }
                }
            }

            hub.client.sendchat = function (userId, user, friendId, friendUsername, message) {

                var a = $("#chb" + user + " div#cb" + friendId + " .chatboxtext");
                a.append("<img src='Uploads/" + userId + ".jpg'/>" + message + "<br/>");

                a.scrollTop(a.prop("scrollHeight"));

                if ($("#chb" + friendUsername + " div#cb" + userId).hasClass("hidden")) {
                    $("li.cf" + userId).addClass("msg");
                }

                var b = $("#chb" + friendUsername + " div#cb" + userId + " .chatboxtext");
                b.append("<img src='Uploads/" + userId + ".jpg'/>" + message + "<br/>");

                b.scrollTop(b.prop("scrollHeight"));
            }

            //This is the end of client functions

            //Connect to the hub server functions
            $.connection.hub
                        .start()
                .done(function () {

                    hub.server.hello("SignalR is working");

                /*Add Friend*/
                    $("a.addFriend").on("click", function (e) {
                        e.preventDefault();

                        var friend = '@ViewBag.username';
                        var url = "/Profile/AddFriend";

                        $.post(url, { friend: friend }, function (data) {
                            $(".areFriendDiv").removeClass("alert-info")
                                .addClass("alert-warning")
                                .html("<p>Pending friend request</p>");
                        }).done(function () {
                            hub.server.notify(friend);
                        });
                    });

                    /*Accept Friend Request*/
                    $("body").on("click", "a.accept", function (e) {
                        e.preventDefault();
                        var $this = $(this);

                        var url = "Profile/AcceptFriendRequest";
                        var friendId = $this.data("id");

                        $.post(url, { friendId: friendId }, function (data) {

                        }).done(function () {
                            $this.parent().fadeOut("fast");
                            hub.server.getFrCount();
                            hub.server.getFCount(friendId);
                        });
                    });

                    /*Decline Firend Request*/
                    $("body").on("click", "a.decline", function (e) {
                        e.preventDefault();
                        var $this = $(this);

                        var url = "Profile/DeclineFriendRequest";
                        var friendId = $this.data("id");

                        $.post(url, { friendId: friendId }, function (data) {

                        }).done(function () {
                            $this.parent().fadeOut("fast");
                            hub.server.getFrCount();
                        });
                    });

                /*Send Message*/
                    $("body").on("click", "a#sendmsg", function (e) {
                        e.preventDefault();

                        var $this = $(this);
                        $this.parent().find("img").removeClass("hide");

                        var friend = "@ViewBag.username";
                        var message = $("#msgarea").val();
                        var url = "Profile/SendMessage";

                        $.post(url, { friend: friend, message: message }, function (data) {

                        }).done(function () {
                            $this.parent().find("img").addClass("hide");
                            hub.server.notifyOfMessage(friend);
                            $("#msgarea").val("");
                            $this.parent().find(".sendmsgnotfi").removeClass("hide");
                            setTimeout(function () {
                                $this.parent().find(".sendmsgnotfi").fadeOut("fast", function () {
                                    $this.parent().find(".sendmsgnotfi").addClass("hide");
                                });
                            },2000);
                        });
                    });

                /*Display Unread Messages*/
                    $("body").on("click", "span.msgnotif.red", function () {

                        $("ul#msgnotiful").empty();

                        var url = "Profile/DisplayUnreadMessages";

                        $.post(url, {}, function (data) {
                            if (data.length > 0) {
                                $("ul#msgnotiful").append("<li class='close'>x</li>");
                            }

                            for (var i = 0; i < data.length; i++) {
                                var obj = data[i];
                                $("ul#msgnotiful").append("<li class='msgnotifli'><a href='/" +
                                    obj.FromUsername + "'><img src='Uploads/" +
                                    obj.FromId + ".jpg'/></a>" + " " + obj.Message + "</li>");
                            }
                        }).done(function () {
                            hub.server.notifyOfMessageOwner();
                            //alert("the done is called");
                        });
                    });

                    $("body").on("click", "ul#msgnotiful li.close", function () {
                        $("ul#msgnotiful").empty();
                    });

                /*send chat event*/
                    $("body").on("click", "a.sendchat", function (e) {
                        e.preventDefault();

                        var $this = $(this);

                        var friendId = $this.data("id");
                        var friendUsername = $this.data("friend");
                        var message = $this.parent().find("textarea").val();

                        $this.parent().find("textarea").val("");

                        hub.server.sendChat(friendId, friendUsername, message);

                    });
                    //make it work on enter press
                    $("body").on("keypress", ".chatbox textarea", function (e) {
                        if (e.which == 13) {
                            $(this).parent().find("a.sendchat").click();
                            setTimeout(function () {
                                $(this).parent().find("textarea").focus();
                            }, 0);
                        }

                    });


                });

            ////////////////////////////////////
            //End of hub server functions

        /*Display Friend Requests*/
            $("body").on("click", "span.frnotif.red", function () {

                $("#friendnotiful").empty();

                var url = "Profile/DisplayFriendRequest";

                $.post(url, {}, function (data) {
                    if (data.length > 0) {
                        $("#friendnotiful").append("<li class='close'>x</li>");
                    }

                    for (var i = 0; i < data.length; i++) {
                        var obj = data[i];
                        $("ul#friendnotiful").append("<li class='friendnotifli'><a href='/" +
                            obj.Username + "'><img src='Uploads/" + obj.Id +
                            ".jpg'/>" + " " + obj.FirstName + " " + obj.LastName +
                            "</a>" + "<a class='accept' href='#' data-id='" + obj.Id +
                            "'><span class='glyphicon glyphicon-ok'></span></a>" +
                            "<a class='decline' href='#' data-id='" + obj.Id +
                            "'><span class='glyphicon glyphicon-remove'></span></a></li>");
                    }
                });
            });

            $("body").on("click", "ul#friendnotiful li.close", function () {
                //e.preventDefault();

                $("ul#friendnotiful").empty();
            });

        /*Update Wall message*/
            $("a#sendsay").on("click", function (e) {
                e.preventDefault();

                var $this = $(this);

                $this.parent().find("img").removeClass("hide");

                var id = $this.data("id");

                var message = $this.parent().find("textarea").val();

                var url = "Profile/UpdateWallMessage";

                $.post(url, { id: id, message: message }, function (data) {

                }).done(function () {
                    $this.parent().find("img").addClass("hide");
                });
            });

            /*Open Chat box*/
                $("body").on("click", ".chat ul li", function () {

                    var $this = $(this);

                    if ($this.hasClass("msg"))
                        $this.removeClass("msg");

                    var friend = $this.text().trim();

                    var chatboxNumber = $(".chatboxholder .chatbox:not(.hidden)").length;

                    var id = $this.data("id");

                    var right = 320;

                    var cb = $(".chatboxholder #cb" + id);

                    if (!cb.length) {
                        cb.css("right", right * chatboxNumber);
                    } else if (cb.hasClass("hidden")) {
                        cb.removeClass("hidden");
                    } else {
                        cb.addClass("hidden");
                        cb.css("right", right * chatboxNumber);
                    }
                });

        });//End Ready
    </script>

}

